<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="项目名称">
    <test name="功能模块">

        <!--        <groups>-->
        <!--            <run>-->
        <!--                <include name="group1"/>-->
        <!--                <include name="group2"/>-->
        <!--            </run>-->
        <!--        </groups>-->

        <classes>
            <class name="cases.LoginCases"/>
            <class name="cases.RegisterCases"/>
        </classes>

    </test>
</suite>